@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bubble-color: #e1ab65;
}

.dark-mode {
  --bubble-color: #399a99;
}

@keyframes merge {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.animate-merge > li > div {
  animation: merge 2s forwards;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.button {
  @apply relative transition-transform duration-200;
}

.button:active {
  transform: scale(0.96);
}

.button::before,
.button::after {
  @apply absolute w-[150%] h-full left-1/2 transform -translate-x-1/2;
  content: '';
  z-index: -1;
  background-repeat: no-repeat;
}

.button.animate::before {
  top: -70%;
  background-image: radial-gradient(
      circle,
      var(--bubble-color) 20%,
      transparent 20%
    ),
    radial-gradient(
      circle,
      transparent 20%,
      var(--bubble-color) 20%,
      transparent 30%
    ),
    radial-gradient(circle, var(--bubble-color) 20%, transparent 20%),
    radial-gradient(circle, var(--bubble-color) 20%, transparent 20%),
    radial-gradient(
      circle,
      transparent 10%,
      var(--bubble-color) 15%,
      transparent 20%
    ),
    radial-gradient(circle, var(--bubble-color) 20%, transparent 20%),
    radial-gradient(circle, var(--bubble-color) 20%, transparent 20%),
    radial-gradient(circle, var(--bubble-color) 20%, transparent 20%),
    radial-gradient(circle, var(--bubble-color) 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  animation: greentopBubbles ease-in-out 0.6s forwards infinite;
}

.button.animate::after {
  bottom: -70%;
  background-image: radial-gradient(
      circle,
      var(--bubble-color) 20%,
      transparent 20%
    ),
    radial-gradient(circle, var(--bubble-color) 20%, transparent 20%),
    radial-gradient(
      circle,
      transparent 10%,
      var(--bubble-color) 15%,
      transparent 20%
    ),
    radial-gradient(circle, var(--bubble-color) 20%, transparent 20%),
    radial-gradient(circle, var(--bubble-color) 20%, transparent 20%),
    radial-gradient(circle, var(--bubble-color) 20%, transparent 20%),
    radial-gradient(circle, var(--bubble-color) 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  animation: greenbottomBubbles ease-in-out 0.6s forwards infinite;
}
